/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Builds]/
/[Ll]ogs/
/[Uu]sersettings/
/[MemoryCaptures]/

# アセットストアから入れた巨大なパッケージ等を除外したい場合（任意）
# /[Aa]ssets/AssetStoreTools/

# Visual Studioが生成する一時ファイル
.vs/
*.sln
*.csproj
*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.ide

# OS固有のファイル
.DS_Store
Thumbs.db